@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: auto !important; /* Animatsiyasiz scroll */
}

/* Global dark/light rejim uchun qo'shimcha uslublar */
html {
  /* @apply bg-[#112544] text-white; */
  @apply bg-[#2f2f2f] text-white;
}

html.dark {
  @apply bg-[#ffffff] text-black; /* Dark rejim uchun */
}

.hide-scrollbar {
  overflow-x: scroll; /* Scroll hali mavjud bo'ladi */
  scrollbar-width: none; /* Firefox uchun */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome va Safari uchun */
}

.active {
  background-color: white;
  color: black;
}

.inputs {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 10px 20px;
  width: 100%;
  border-radius: 10px;
}

.inputs input {
  color: black;
  border-radius: 6px;
  background-color: white;
  padding: 5px 10px;
  width: 80%;
}

.my-toast {
  margin-top: 60px;
}

.item {
  background-color: #323232;
  padding: 10px 10px;
  border-radius: 20px;
  border: solid white 1px;
}

.title {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  overflow: black;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
